@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-size: 100% !important;
  overflow-x: clip;
}

div.theme--dark.v-application#app{
  background-color: #252525;
}

.bold-title {
  font-family: 'Poppins', sans-serif !important;
  font-weight: bold;
}

.navbar-title {
  font-size: 32px !important;
}

.page-title {
  font-size: 100px;
  letter-spacing: 4px;
  font-weight: 600;
}

.page-subtitle {
  font-size: 50px;
  font-weight: 300;
}

* {
  font-family: Roboto, sans-serif;
}

.v-application {
  /*overflow-x: hidden !important;*/
}

.v-btn--plain:not(.v-btn--active):not(.v-btn--loading):not(:focus):not(:hover) .v-btn__content {
  opacity: 1 !important;
}

a {
  text-decoration: none;
}

.v-application .section a, .v-application .markdown-content a {
  color: #F0E68C;
  transition: all 0.1s linear;
}

.markdown-content h1 {
  font-size: 4.5rem;
  text-align: center;
}

.markdown-content h2 {
  font-size: 3rem;
}

.markdown-content h3 {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9);
}

.markdown-content h4 {
  font-size: 1.4rem;
}

.v-application .markdown-content p {
  font-size: 1.125rem;
  line-height: 2rem;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 40px !important;
}

.v-application .markdown-content li {
  font-size: 1.125rem;
  line-height: 2rem;
  color: rgba(255, 255, 255, 0.8);
}

.markdown-content strong {
  color: white;
}

.v-application a:hover {
  color: gold;
}

.no-overflow {
  overflow: hidden;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.v-application .markdown-content li p {
  margin-bottom: 0 !important;
}

.v-application .markdown-content code {
  background-color: transparent !important;
  padding: 0;
}

.custom-codeblock {
  position: relative;
}

.custom-codeblock::after {
  content: attr(data-lang);
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px 16px;
  background-color: darkgoldenrod;
  border-radius: 16px;
  font-size: 12px;
}

pre.shiki {
  padding: 1rem;
}

.gray--text {
  color: gray;
}

@media only screen and (max-width: 600px) {
  .navbar-title {
    font-size: 24px !important;
  }

  .v-navigation-drawer__content .v-btn__content {
    font-size: 30px !important;
  }

  .v-navigation-drawer__content .v-list-item {
    margin-top: 25px;
  }

  .v-navigation-drawer__content .v-list {
    margin-top: 70px;
  }

  .page-title {
    font-size: 44px;
    letter-spacing: 2px;
  }

  .page-subtitle {
    font-size: 36px;
  }

  .markdown-content h2 {
    font-size: 2rem;
  }

  .markdown-content h3 {
    font-size: 1.6rem;
  }
}

