// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$primary: gold;
$secondary: goldenrod;
$secondary-text: #cecece;
$link: #F0E68C;
$random-orange: #D2691E;

@mixin section {
  padding: 120px 130px;
  @media only screen and (max-width: 600px) {
    padding: 120px 20px;
  }
}

@mixin smaller-section {
  padding: 80px 130px;
  @media only screen and (max-width: 600px) {
    padding: 90px 20px;
  }
}

@for $i from 1 through 20 {
  .animate-delay-#{$i} {
    animation-delay: $i * 100ms !important;
  }
}
